@font-face {
    font-family: Norse-Bold;
    src: url(font/Norse-Bold.otf);
}

@font-face {
    font-family: Open-Sans;
    src: url(font/OpenSans-VariableFont_wdth\,wght.ttf)
}

@font-face {
    font-family: Montserrat;
    src: url(font/MontserratAlternates-Bold.otf)
}

body{
    margin: 0;
    padding: 0;
    background-color: #F9FAFB;
    font-family: Open-Sans, sans-serif;
}

#container {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    width: 95vw;
    height: 95vh;
    overflow: hidden;
    margin: auto;
    border: black 2px solid;
}

#img-container {
    display: grid;
    background-image: url(img/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, minmax(0, 1fr));
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    height: 95vh;
}

#form-container {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 1;
}

#odin-wrap{
    display: flex;
    height: 90%;
    align-self: center;
    justify-content: center;
}

#background-wrap {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    grid-row-start: 3;
}

#credits {
    position: relative;
    grid-row-start: 6;
}

#credits > p {
    position: absolute;
    color: white;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
}

#credits > p > a:link,
#credits > p > a:visited,
#credits > p > a:hover,
#credits > p > a:active {
    color: white;
}

#odin-logo {
    height: 100%;
}

#logo-text {
    font-family: Norse-Bold;
    color: white;
    font-size: 100px;
    font-weight: 500;
    align-self: center;
}

#leafs-img {
    height: 95vh;
}

#form-container > h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: -100px;
}

#form-container > .flex-container {
    display: flex;
    margin-top: 15%;
    width: 100%;
    height: 40%;
    background-color: white;
    padding: 3%;
    box-shadow: 0 10px 8px -8px gray;
}

#form-container > .flex-container > .col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    width: 100%;
}
#form-container > .flex-container > .col > div {
    width: 100%;
}

#form-container > .flex-container > .col > div > label {
    font-size: 1rem;
    display: block;
    margin-bottom: 0.6rem;
}

#form-container > .flex-container > .col > div > input {
    height: 1.2rem;
    width: 50%;
}

#submit-btn {
    height: 6%;
    width: 20%;
    margin-top: 3%;
    margin-left: 5%;
    background-color: #596D48;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 10px;
    border-style: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

#form-container > p {
    margin-top: 2%;
    margin-left: 5%;
}

#form-container > p > a {
    font-weight: bold;
    color: #596D48;
}